.body{
    height: 398px;

    padding-top: 30px;
  }

.col{
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  top: 0;
  left: 270px;
}
.image2 {
  position: absolute;
  top: 0;
  left:200px;
}
.image3 {
  position: relative;
  top: 0;
  left:0;
}
.image4 {
  position: absolute;
  top: 280px;
  right:420px;
}


.btn{
  margin-top: 10px;
  border-radius: 30px;
  background-color: #081429;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.partners{
  height: 30%;
}


.service{
  height: 50%;
}

h4{
  color: black;
}

.image5 {
  position: relative;
  top: 0;
  right:0;
}

#middle{
  width: 330px;
  margin-left: 150px;
}

.card{
  padding: 10px;
}



.works{
  height: 50%;
}


.image6{
  border-radius: 25px;
}

.services{
  height: 50%;
  background-color: rgb(255, 235, 239);
}



.say{
  height: 40%;
  background-color: #081429;
}

#font{
  font-size: 30px;
  color: goldenrod;
}

#contentBlock{
  border-radius:25px ;
  height: 400px;
}

.upload{
  margin-top: 100px;
}

#col1 {
  position: relative;
  top: 0;
  left: 0;
}
.image7 {
  position: absolute;
  top: 0;
  left: 120px;
}
.image8 {
  position: relative;
  top: 0;
}

#col2{
  margin-top: 100px;
}
